.congressional-head {
    /* background-image: url('/images/congressional-heads.jpg'); */
    background-repeat: no-repeat;
    background-size: 2853.6px 2678.325px;
    display: block;
}

.congressional-head.wylummiscynthiam {
    background-position: 0 0;
}

.congressional-head.wyenzimichaelb {
    background-position: -98.4px 0;
}

.congressional-head.wybarrassojohn {
    background-position: -196.8px 0;
}

.congressional-head.wvrockefellerjohndiv {
    background-position: 0 -119.925px;
}

.congressional-head.wvrahallnickjii {
    background-position: -98.4px -119.925px;
}

.congressional-head.wvmooneyalex {
    background-position: -295.2px 0;
}

.congressional-head.wvmckinleydavidb {
    background-position: -196.8px -119.925px;
}

.congressional-head.wvmanchinjoeiii {
    background-position: 0 -239.85px;
}

.congressional-head.wvjenkinsevan {
    background-position: -393.6px 0;
}

.congressional-head.wvcapitoshelleymoore {
    background-position: -393.6px -147.6px;
}

.congressional-head.wvcapitoshelley {
    background-position: -492px 0;
}

.congressional-head.wisensenbrennerfjamesjr {
    background-position: -492px -147.6px;
}

.congressional-head.wiryanpaul {
    background-position: -98.4px -239.85px;
}

.congressional-head.wiribblereidj {
    background-position: -196.8px -239.85px;
}

.congressional-head.wipocanmark {
    background-position: -295.2px -239.85px;
}

.congressional-head.wipetrithomase {
    background-position: 0 -359.775px;
}

.congressional-head.wimooregwen {
    background-position: -98.4px -359.775px;
}

.congressional-head.wikinderron {
    background-position: -196.8px -359.775px;
}

.congressional-head.wijohnsonron {
    background-position: -295.2px -359.775px;
}

.congressional-head.wigrothmanglenn {
    background-position: -492px -267.525px;
}

.congressional-head.widuffysean {
    background-position: -393.6px -359.775px;
}

.congressional-head.wibaldwintammy {
    background-position: -492px -359.775px;
}

.congressional-head.wheeler {
    background-position: -590.4px 0;
}

.congressional-head.wasmithadam {
    background-position: -590.4px -125.05px;
}

.congressional-head.warodgerscathymcmorris {
    background-position: -590.4px -244.975px;
}

.congressional-head.wareichertdave {
    background-position: 0 -479.7px;
}

.congressional-head.wanewhousedan {
    background-position: -688.8px 0;
}

.congressional-head.wamurraypatty {
    background-position: -688.8px -147.6px;
}

.congressional-head.wamcdermottjim {
    background-position: -688.8px -267.525px;
}

.congressional-head.walarsenrick {
    background-position: -688.8px -387.45px;
}

.congressional-head.wakilmerderek {
    background-position: -98.4px -479.7px;
}

.congressional-head.waherrerajaime {
    background-position: -196.8px -479.7px;
}

.congressional-head.waheckdenny {
    background-position: -295.2px -479.7px;
}

.congressional-head.wahastingsdoc {
    background-position: -393.6px -479.7px;
}

.congressional-head.wadelbenesuzan {
    background-position: -492px -479.7px;
}

.congressional-head.wacantwellmaria {
    background-position: -590.4px -479.7px;
}

.congressional-head.vtwelchpeter {
    background-position: 0 -599.625px;
}

.congressional-head.vtsandersbernard {
    background-position: -98.4px -599.625px;
}

.congressional-head.vtleahypatrickj {
    background-position: -196.8px -599.625px;
}

.congressional-head.viplaskettstacey {
    background-position: -787.2px 0;
}

.congressional-head.vawolffrankr {
    background-position: -787.2px -120.95px;
}

.congressional-head.vawittmanrobertj {
    background-position: -787.2px -240.875px;
}

.congressional-head.vawarnermarkr {
    background-position: -787.2px -360.8px;
}

.congressional-head.vascottrobert {
    background-position: -787.2px -480.725px;
}

.congressional-head.varigellescott {
    background-position: -295.2px -599.625px;
}

.congressional-head.vamoranjamespjr {
    background-position: -393.6px -599.625px;
}

.congressional-head.vakainetimothym {
    background-position: -492px -599.625px;
}

.congressional-head.vahurtrobert {
    background-position: -590.4px -599.625px;
}

.congressional-head.vagriffithhmorgan {
    background-position: -688.8px -599.625px;
}

.congressional-head.vagoodlatterw {
    background-position: 0 -719.55px;
}

.congressional-head.vaforbesjrandy {
    background-position: -98.4px -719.55px;
}

.congressional-head.vaconnollygeralde {
    background-position: -196.8px -719.55px;
}

.congressional-head.vacomstockbarbara {
    background-position: -885.6px 0;
}

.congressional-head.vacantorerici {
    background-position: -885.6px -144.525px;
}

.congressional-head.vabratdavid {
    background-position: -885.6px -264.45px;
}

.congressional-head.vabeyerdon {
    background-position: -885.6px -362.85px;
}

.congressional-head.utstewartchris {
    background-position: -885.6px -485.85px;
}

.congressional-head.utmathesonjim {
    background-position: -885.6px -605.775px;
}

.congressional-head.utlovemia {
    background-position: 0 -839.475px;
}

.congressional-head.utleemike {
    background-position: -295.2px -719.55px;
}

.congressional-head.uthatchorring {
    background-position: -393.6px -719.55px;
}

.congressional-head.utchaffetzjason {
    background-position: -492px -719.55px;
}

.congressional-head.utbishoprob {
    background-position: -590.4px -719.55px;
}

.congressional-head.txwilliamsroger {
    background-position: -688.8px -719.55px;
}

.congressional-head.txweberrandy {
    background-position: -787.2px -719.55px;
}

.congressional-head.txvelafilemon {
    background-position: -98.4px -839.475px;
}

.congressional-head.txveaseymarc {
    background-position: -196.8px -839.475px;
}

.congressional-head.txthornberrymac {
    background-position: -295.2px -839.475px;
}

.congressional-head.txstockmansteve {
    background-position: -393.6px -839.475px;
}

.congressional-head.txsmithlamar {
    background-position: -492px -839.475px;
}

.congressional-head.txsessionspete {
    background-position: -590.4px -839.475px;
}

.congressional-head.txratcliffejohn {
    background-position: -688.8px -839.475px;
}

.congressional-head.txpoeted {
    background-position: -787.2px -839.475px;
}

.congressional-head.txorourkebeto {
    background-position: -885.6px -839.475px;
}

.congressional-head.txolsonpete {
    background-position: -984px 0;
}

.congressional-head.txneugebauerrandy {
    background-position: -984px -119.925px;
}

.congressional-head.txmccaulmichaelt {
    background-position: -984px -239.85px;
}

.congressional-head.txmarchantkenny {
    background-position: -984px -359.775px;
}

.congressional-head.txjohnsonsam {
    background-position: -984px -479.7px;
}

.congressional-head.txjohnsoneddiebernice {
    background-position: -984px -599.625px;
}

.congressional-head.txjacksonleesheila {
    background-position: -984px -719.55px;
}

.congressional-head.txhurdwill {
    background-position: -984px -839.475px;
}

.congressional-head.txhinojosaruben {
    background-position: 0 -961.45px;
}

.congressional-head.txhensarlingjeb {
    background-position: -98.4px -961.45px;
}

.congressional-head.txhallralphm {
    background-position: -196.8px -961.45px;
}

.congressional-head.txgreengene {
    background-position: -295.2px -961.45px;
}

.congressional-head.txgreenal {
    background-position: -393.6px -961.45px;
}

.congressional-head.txgrangerkay {
    background-position: -492px -961.45px;
}

.congressional-head.txgohmertlouie {
    background-position: -590.4px -961.45px;
}

.congressional-head.txgallegopetep {
    background-position: -688.8px -961.45px;
}

.congressional-head.txfloresbill {
    background-position: -787.2px -961.45px;
}

.congressional-head.txfarentholdrblake {
    background-position: -885.6px -961.45px;
}

.congressional-head.txdoggettlloyd {
    background-position: -984px -961.45px;
}

.congressional-head.txculbersonjohnabney {
    background-position: -1082.4px 0;
}

.congressional-head.txcuellarhenry {
    background-position: -1082.4px -119.925px;
}

.congressional-head.txcruzted {
    background-position: -1082.4px -239.85px;
}

.congressional-head.txcornynjohn {
    background-position: -1082.4px -359.775px;
}

.congressional-head.txconawaymike {
    background-position: -1082.4px -479.7px;
}

.congressional-head.txcastrojoaquin {
    background-position: -1082.4px -599.625px;
}

.congressional-head.txcarterjohnr {
    background-position: -1082.4px -719.55px;
}

.congressional-head.txburgessmichaelc {
    background-position: -1082.4px -839.475px;
}

.congressional-head.txbradykevin {
    background-position: -1082.4px -959.4px;
}

.congressional-head.txbartonjoe {
    background-position: -1180.8px 0;
}

.congressional-head.txbabinbrian {
    background-position: -1180.8px -119.925px;
}

.congressional-head.tnroephilip {
    background-position: -1180.8px -239.85px;
}

.congressional-head.tnfleischmannchuck {
    background-position: -1180.8px -359.775px;
}

.congressional-head.tnfincherstephenlee {
    background-position: -1180.8px -479.7px;
}

.congressional-head.tnduncanjrjohn {
    background-position: -1180.8px -599.625px;
}

.congressional-head.tndesjarlaisscott {
    background-position: -1180.8px -719.55px;
}

.congressional-head.tncorkerbob {
    background-position: -1180.8px -839.475px;
}

.congressional-head.tncooperjim {
    background-position: -1180.8px -959.4px;
}

.congressional-head.tncohensteve {
    background-position: 0 -1081.375px;
}

.congressional-head.tnblackdiane {
    background-position: -98.4px -1081.375px;
}

.congressional-head.tnblackburnmarsha {
    background-position: -196.8px -1081.375px;
}

.congressional-head.tnalexanderlamar {
    background-position: -295.2px -1081.375px;
}

.congressional-head.sdthunejohnr {
    background-position: -393.6px -1081.375px;
}

.congressional-head.sdroundsmike {
    background-position: -1279.2px 0;
}

.congressional-head.sdnoemkristi {
    background-position: -1279.2px -130.175px;
}

.congressional-head.sdjohnsontim {
    background-position: -1279.2px -250.1px;
}

.congressional-head.scscotttim {
    background-position: -1279.2px -370.025px;
}

.congressional-head.scsanfordmark {
    background-position: -1279.2px -489.95px;
}

.congressional-head.scricetom {
    background-position: -1279.2px -609.875px;
}

.congressional-head.scmulvaneymick {
    background-position: -1279.2px -729.8px;
}

.congressional-head.scgrahamlindseyo {
    background-position: -1279.2px -849.725px;
}

.congressional-head.scgowdytrey {
    background-position: -1279.2px -969.65px;
}

.congressional-head.scduncanjeff {
    background-position: -492px -1081.375px;
}

.congressional-head.scclyburnjamese {
    background-position: -590.4px -1081.375px;
}

.congressional-head.rosenworcel {
    background-position: 0 -1201.3px;
}

.congressional-head.riwhitehousesheldon {
    background-position: -688.8px -1081.375px;
}

.congressional-head.rireedjack {
    background-position: -787.2px -1081.375px;
}

.congressional-head.rilangevinjamesr {
    background-position: -885.6px -1081.375px;
}

.congressional-head.ricicillinedavidn {
    background-position: -984px -1081.375px;
}

.congressional-head.prpierluisipedro {
    background-position: -1377.6px 0;
}

.congressional-head.placeholder {
    background-position: -1377.6px -147.6px;
}

.congressional-head.patoomeypatrickj {
    background-position: -1377.6px -217.3px;
}

.congressional-head.pathompsonglennw {
    background-position: -1377.6px -337.225px;
}

.congressional-head.pashusterbillfranklin {
    background-position: -1377.6px -457.15px;
}

.congressional-head.paschwartzallysony {
    background-position: -1377.6px -577.075px;
}

.congressional-head.parothfuskeith {
    background-position: -1377.6px -697px;
}

.congressional-head.papittsjosephr {
    background-position: -1377.6px -816.925px;
}

.congressional-head.paperryscottg {
    background-position: -1377.6px -936.85px;
}

.congressional-head.pamurphytim {
    background-position: -1377.6px -1056.775px;
}

.congressional-head.pameehanpatrick {
    background-position: -1377.6px -1176.7px;
}

.congressional-head.pamarinothomasa {
    background-position: -1082.4px -1081.375px;
}

.congressional-head.pakellymike {
    background-position: -1180.8px -1081.375px;
}

.congressional-head.pai {
    background-position: -98.4px -1201.3px;
}

.congressional-head.pagerlachjimw {
    background-position: -196.8px -1201.3px;
}

.congressional-head.pafitzpatrickmichaelg {
    background-position: -295.2px -1201.3px;
}

.congressional-head.pafattahchaka {
    background-position: -393.6px -1201.3px;
}

.congressional-head.padoylemikef {
    background-position: -492px -1201.3px;
}

.congressional-head.padentcharlesw {
    background-position: -590.4px -1201.3px;
}

.congressional-head.pacostelloryan {
    background-position: 0 -1326.35px;
}

.congressional-head.pacaseybobjr {
    background-position: -688.8px -1201.3px;
}

.congressional-head.pacartwrightmatthewa {
    background-position: -787.2px -1201.3px;
}

.congressional-head.pabradyrobert {
    background-position: -885.6px -1201.3px;
}

.congressional-head.paboylebrendan {
    background-position: -984px -1201.3px;
}

.congressional-head.pabarlettalou {
    background-position: -1082.4px -1201.3px;
}

.congressional-head.orwydenron {
    background-position: -98.4px -1326.35px;
}

.congressional-head.orwaldengreg {
    background-position: -1180.8px -1201.3px;
}

.congressional-head.orschraderkurt {
    background-position: -1279.2px -1201.3px;
}

.congressional-head.orryantim {
    background-position: -196.8px -1326.35px;
}

.congressional-head.ormerkleyjeff {
    background-position: -295.2px -1326.35px;
}

.congressional-head.oreilly {
    background-position: -1476px 0;
}

.congressional-head.ordefaziopetera {
    background-position: -1476px -125.05px;
}

.congressional-head.orbonamicisuzanne {
    background-position: -1476px -244.975px;
}

.congressional-head.orblumenauerearl {
    background-position: -1476px -364.9px;
}

.congressional-head.okrussellsteve {
    background-position: -1476px -484.825px;
}

.congressional-head.okmullinmarkwayne {
    background-position: -1476px -634.475px;
}

.congressional-head.oklucasfrankd {
    background-position: -1476px -754.4px;
}

.congressional-head.oklankfordjames {
    background-position: -1476px -874.325px;
}

.congressional-head.okinhofejimm {
    background-position: -1476px -994.25px;
}

.congressional-head.okcoletom {
    background-position: -1476px -1114.175px;
}

.congressional-head.okcoburntom {
    background-position: -1476px -1234.1px;
}

.congressional-head.okbridenstinejim {
    background-position: -1476px -1354.025px;
}

.congressional-head.ohwenstrupbrad {
    background-position: -393.6px -1326.35px;
}

.congressional-head.ohturnermichaelr {
    background-position: -492px -1326.35px;
}

.congressional-head.ohtiberipatrickj {
    background-position: -590.4px -1326.35px;
}

.congressional-head.ohstiverssteve {
    background-position: -688.8px -1326.35px;
}

.congressional-head.ohrenaccijim {
    background-position: -787.2px -1326.35px;
}

.congressional-head.ohportmanrob {
    background-position: -885.6px -1326.35px;
}

.congressional-head.ohlattaroberte {
    background-position: -984px -1326.35px;
}

.congressional-head.ohkapturmarcy {
    background-position: -1082.4px -1326.35px;
}

.congressional-head.ohjoycedavid {
    background-position: -1180.8px -1326.35px;
}

.congressional-head.ohjordanjim {
    background-position: -1279.2px -1326.35px;
}

.congressional-head.ohjohnsonbill {
    background-position: -1377.6px -1326.35px;
}

.congressional-head.ohgibbsbob {
    background-position: -1574.4px 0;
}

.congressional-head.ohfudgemarcial {
    background-position: -1574.4px -119.925px;
}

.congressional-head.ohchabotsteve {
    background-position: -1574.4px -239.85px;
}

.congressional-head.ohbrownsherrod {
    background-position: -1574.4px -359.775px;
}

.congressional-head.ohboehnerjohna {
    background-position: -1574.4px -479.7px;
}

.congressional-head.ohbeattyjoyce {
    background-position: -1574.4px -599.625px;
}

.congressional-head.obama {
    background-position: -1574.4px -719.55px;
}

.congressional-head.nyzeldinlee {
    background-position: -1574.4px -844.6px;
}

.congressional-head.nyvelazqueznydiam {
    background-position: -1574.4px -981.95px;
}

.congressional-head.nytonkopauld {
    background-position: -1574.4px -1101.875px;
}

.congressional-head.nystefanikelise {
    background-position: -1574.4px -1221.8px;
}

.congressional-head.nyslaughterlouisem {
    background-position: -1574.4px -1325.325px;
}

.congressional-head.nyserranojose {
    background-position: 0 -1473.95px;
}

.congressional-head.nyschumercharlese {
    background-position: -98.4px -1473.95px;
}

.congressional-head.nyricekathleen {
    background-position: -1279.2px -1089.575px;
}

.congressional-head.nyreedtom {
    background-position: -196.8px -1473.95px;
}

.congressional-head.nyrangelcharlesb {
    background-position: -295.2px -1473.95px;
}

.congressional-head.nyowensbill {
    background-position: -393.6px -1473.95px;
}

.congressional-head.nynadlerjerroldl {
    background-position: -492px -1473.95px;
}

.congressional-head.nymenggrace {
    background-position: -590.4px -1473.95px;
}

.congressional-head.nymeeksgregoryw {
    background-position: -688.8px -1473.95px;
}

.congressional-head.nymccarthycarolyn {
    background-position: -787.2px -1473.95px;
}

.congressional-head.nymaloneyseanpatrick {
    background-position: -885.6px -1473.95px;
}

.congressional-head.nymaloneycarolyn {
    background-position: -984px -1473.95px;
}

.congressional-head.nymaffeidan {
    background-position: -1082.4px -1473.95px;
}

.congressional-head.nyloweynitam {
    background-position: -1180.8px -1473.95px;
}

.congressional-head.nykingpeter {
    background-position: -1279.2px -1473.95px;
}

.congressional-head.nykatkojohn {
    background-position: -885.6px -725.7px;
}

.congressional-head.nyjeffrieshakeem {
    background-position: -1377.6px -1473.95px;
}

.congressional-head.nyisraelstevej {
    background-position: -1476px -1473.95px;
}

.congressional-head.nyhigginsbrianm {
    background-position: -1574.4px -1473.95px;
}

.congressional-head.nyhannarichardl {
    background-position: -1672.8px 0;
}

.congressional-head.nygrimmmichaelg {
    background-position: -1672.8px -119.925px;
}

.congressional-head.nygillibrandkirstene {
    background-position: -1672.8px -239.85px;
}

.congressional-head.nygibsonchristopherp {
    background-position: -1672.8px -359.775px;
}

.congressional-head.nyengeleliotl {
    background-position: -1672.8px -479.7px;
}

.congressional-head.nycrowleyjoseph {
    background-position: -1672.8px -599.625px;
}

.congressional-head.nycollinschris {
    background-position: -1672.8px -719.55px;
}

.congressional-head.nyclarkeyvetted {
    background-position: -1672.8px -839.475px;
}

.congressional-head.nybishoptimothy {
    background-position: -1672.8px -959.4px;
}

.congressional-head.nvtitusdina {
    background-position: -1672.8px -1079.325px;
}

.congressional-head.nvreidharry {
    background-position: -1672.8px -1199.25px;
}

.congressional-head.nvhorsfordstevena {
    background-position: -1672.8px -1319.175px;
}

.congressional-head.nvhellerdean {
    background-position: -1672.8px -1439.1px;
}

.congressional-head.nvheckjoe {
    background-position: 0 -1593.875px;
}

.congressional-head.nvhardycrescent {
    background-position: -787.2px -600.65px;
}

.congressional-head.nvamodeimarke {
    background-position: -98.4px -1593.875px;
}

.congressional-head.nmudalltom {
    background-position: -196.8px -1593.875px;
}

.congressional-head.nmpearcesteve {
    background-position: -295.2px -1593.875px;
}

.congressional-head.nmlujanben {
    background-position: -393.6px -1593.875px;
}

.congressional-head.nmheinrichmartint {
    background-position: -492px -1593.875px;
}

.congressional-head.nmgrishammichellelujan {
    background-position: -590.4px -1593.875px;
}

.congressional-head.njwatsoncolemanbonnie {
    background-position: -1771.2px 0;
}

.congressional-head.njsmithchris {
    background-position: -1771.2px -136.325px;
}

.congressional-head.njsiresalbio {
    background-position: -1771.2px -256.25px;
}

.congressional-head.njrunyanjon {
    background-position: -1771.2px -376.175px;
}

.congressional-head.njpaynedonaldmjr {
    background-position: -1771.2px -496.1px;
}

.congressional-head.njpascrellwilliamjjr {
    background-position: -1771.2px -616.025px;
}

.congressional-head.njpallonefrankjr {
    background-position: -1771.2px -735.95px;
}

.congressional-head.njnorcrossdavid {
    background-position: -1771.2px -855.875px;
}

.congressional-head.njmenendezrobert {
    background-position: -1771.2px -999.375px;
}

.congressional-head.njmacarthurtom {
    background-position: -1771.2px -1119.3px;
}

.congressional-head.njlobiondofranka {
    background-position: -1771.2px -1266.9px;
}

.congressional-head.njlanceleonard {
    background-position: -1771.2px -1386.825px;
}

.congressional-head.njholtrushd {
    background-position: -1771.2px -1506.75px;
}

.congressional-head.njgarrettscott {
    background-position: -688.8px -1593.875px;
}

.congressional-head.njfrelinghuysenrodneyp {
    background-position: -787.2px -1593.875px;
}

.congressional-head.njbookercory {
    background-position: -885.6px -1593.875px;
}

.congressional-head.njandrewsroberte {
    background-position: -984px -1593.875px;
}

.congressional-head.nhsheaportercarol {
    background-position: -1082.4px -1593.875px;
}

.congressional-head.nhshaheenjeanne {
    background-position: -1180.8px -1593.875px;
}

.congressional-head.nhkusterannmclane {
    background-position: -1279.2px -1593.875px;
}

.congressional-head.nhguintafrank {
    background-position: -1377.6px -1593.875px;
}

.congressional-head.nhayottekelly {
    background-position: -1476px -1593.875px;
}

.congressional-head.neterrylee {
    background-position: -1574.4px -1593.875px;
}

.congressional-head.nesmithadrian {
    background-position: -1672.8px -1593.875px;
}

.congressional-head.nesassebenjamin {
    background-position: 0 -1713.8px;
}

.congressional-head.nejohannsmike {
    background-position: -98.4px -1713.8px;
}

.congressional-head.nefortenberryjeff {
    background-position: -196.8px -1713.8px;
}

.congressional-head.nefischerdeb {
    background-position: -295.2px -1713.8px;
}

.congressional-head.neashfordbrad {
    background-position: -590.4px -364.9px;
}

.congressional-head.ndhoevenjohn {
    background-position: -393.6px -1713.8px;
}

.congressional-head.ndheitkampheidi {
    background-position: -492px -1713.8px;
}

.congressional-head.ndcramerkevin {
    background-position: -590.4px -1713.8px;
}

.congressional-head.ncwattmelvinl {
    background-position: -688.8px -1713.8px;
}

.congressional-head.ncwalkerbradley {
    background-position: -1869.6px 0;
}

.congressional-head.nctillisthom {
    background-position: -1869.6px -137.35px;
}

.congressional-head.ncrouzerdavid {
    background-position: -1869.6px -281.875px;
}

.congressional-head.ncpricedavid {
    background-position: -1869.6px -429.475px;
}

.congressional-head.ncpittengerrobert {
    background-position: -1869.6px -549.4px;
}

.congressional-head.ncmeadowsmark {
    background-position: -1869.6px -669.325px;
}

.congressional-head.ncmcintyremike {
    background-position: -1869.6px -789.25px;
}

.congressional-head.ncmchenrypatrick {
    background-position: -1869.6px -909.175px;
}

.congressional-head.ncjoneswalterb {
    background-position: -1869.6px -1029.1px;
}

.congressional-head.nchudsonrichard {
    background-position: -1869.6px -1149.025px;
}

.congressional-head.ncholdinggeorge {
    background-position: -1869.6px -1268.95px;
}

.congressional-head.nchagankayr {
    background-position: -1869.6px -1388.875px;
}

.congressional-head.ncfoxxvirginia {
    background-position: -1869.6px -1508.8px;
}

.congressional-head.ncellmersrenee {
    background-position: -1869.6px -1628.725px;
}

.congressional-head.nccoblehoward {
    background-position: -787.2px -1713.8px;
}

.congressional-head.ncbutterfieldgkjr {
    background-position: -885.6px -1713.8px;
}

.congressional-head.ncburrrichard {
    background-position: -984px -1713.8px;
}

.congressional-head.ncadamsalma {
    background-position: -1968px 0;
}

.congressional-head.mtzinkeryan {
    background-position: -1968px -144.525px;
}

.congressional-head.mttesterjon {
    background-position: -1968px -292.125px;
}

.congressional-head.mtdainessteve {
    background-position: -1968px -412.05px;
}

.congressional-head.mtbaucusmax {
    background-position: -1968px -531.975px;
}

.congressional-head.mswickerrogerf {
    background-position: -1968px -651.9px;
}

.congressional-head.mspalazzosteven {
    background-position: -1968px -771.825px;
}

.congressional-head.msnunneleealan {
    background-position: -1968px -891.75px;
}

.congressional-head.msharpergregg {
    background-position: -1968px -1011.675px;
}

.congressional-head.mscochranthad {
    background-position: -1968px -1131.6px;
}

.congressional-head.mpsablangregorio {
    background-position: -1968px -1251.525px;
}

.congressional-head.mowagnerann {
    background-position: -1968px -1399.125px;
}

.congressional-head.mosmithjason {
    background-position: -1968px -1519.05px;
}

.congressional-head.momccaskillclaire {
    background-position: -1968px -1638.975px;
}

.congressional-head.moluetkemeyerblaine {
    background-position: -1082.4px -1713.8px;
}

.congressional-head.molongbilly {
    background-position: -1180.8px -1713.8px;
}

.congressional-head.mohartzlervicky {
    background-position: -1279.2px -1713.8px;
}

.congressional-head.mogravessam {
    background-position: -1377.6px -1713.8px;
}

.congressional-head.mocleaveremanuelii {
    background-position: -1476px -1713.8px;
}

.congressional-head.moclaywilliamlacy {
    background-position: -1574.4px -1713.8px;
}

.congressional-head.mobluntroy {
    background-position: -1672.8px -1713.8px;
}

.congressional-head.mnwalztim {
    background-position: -1771.2px -1713.8px;
}

.congressional-head.mnpetersoncollinc {
    background-position: 0 -1838.85px;
}

.congressional-head.mnpaulsenerik {
    background-position: -98.4px -1838.85px;
}

.congressional-head.mnnolanrichard {
    background-position: -196.8px -1838.85px;
}

.congressional-head.mnmccollumbetty {
    background-position: -295.2px -1838.85px;
}

.congressional-head.mnklobucharamy {
    background-position: -393.6px -1838.85px;
}

.congressional-head.mnklinejohn {
    background-position: -492px -1838.85px;
}

.congressional-head.mnfrankenal {
    background-position: -590.4px -1838.85px;
}

.congressional-head.mnemmertom {
    background-position: -688.8px -1838.85px;
}

.congressional-head.mnellisonkeithm {
    background-position: -787.2px -1838.85px;
}

.congressional-head.mnbachmannmichele {
    background-position: -885.6px -1838.85px;
}

.congressional-head.miwalbergtim {
    background-position: -984px -1838.85px;
}

.congressional-head.miuptonfreds {
    background-position: -1082.4px -1838.85px;
}

.congressional-head.mitrottdavid {
    background-position: -2066.4px 0;
}

.congressional-head.mithompsonbennieg {
    background-position: -2066.4px -147.6px;
}

.congressional-head.mistabenowdebbie {
    background-position: -2066.4px -267.525px;
}

.congressional-head.mirogersmike {
    background-position: -2066.4px -387.45px;
}

.congressional-head.mipetersgary {
    background-position: -2066.4px -507.375px;
}

.congressional-head.mimoolenaarjohn {
    background-position: -2066.4px -627.3px;
}

.congressional-head.mimillercandices {
    background-position: -2066.4px -774.9px;
}

.congressional-head.milevinsander {
    background-position: -2066.4px -894.825px;
}

.congressional-head.milevincarl {
    background-position: -2066.4px -1014.75px;
}

.congressional-head.milawrencebrenda {
    background-position: -2066.4px -1134.675px;
}

.congressional-head.mikildeedaniel {
    background-position: -2066.4px -1233.075px;
}

.congressional-head.mikildeedalee {
    background-position: -2066.4px -1380.675px;
}

.congressional-head.mihuizengabill {
    background-position: -2066.4px -1500.6px;
}

.congressional-head.midingelljohnd {
    background-position: -2066.4px -1620.525px;
}

.congressional-head.midingelldebbie {
    background-position: -2066.4px -1740.45px;
}

.congressional-head.miconyersjohnjr {
    background-position: -1180.8px -1838.85px;
}

.congressional-head.micampdavelee {
    background-position: -1279.2px -1838.85px;
}

.congressional-head.mibishopmike {
    background-position: -1377.6px -1838.85px;
}

.congressional-head.mibentivoliokerry {
    background-position: 0 -1958.775px;
}

.congressional-head.mibenishekdan {
    background-position: -98.4px -1958.775px;
}

.congressional-head.miamashjustin {
    background-position: -196.8px -1958.775px;
}

.congressional-head.mepoliquinbruce {
    background-position: -295.2px -1958.775px;
}

.congressional-head.mepingreechellie {
    background-position: -393.6px -1958.775px;
}

.congressional-head.memichaudmichaelh {
    background-position: -492px -1958.775px;
}

.congressional-head.mekingangus {
    background-position: -590.4px -1958.775px;
}

.congressional-head.mecollinssusan {
    background-position: -688.8px -1958.775px;
}

.congressional-head.mdvanhollenchris {
    background-position: -787.2px -1958.775px;
}

.congressional-head.mdsarbanesjohnp {
    background-position: -885.6px -1958.775px;
}

.congressional-head.mdruppersbergercadutch {
    background-position: -984px -1958.775px;
}

.congressional-head.mdmikulskibarbaraa {
    background-position: -1082.4px -1958.775px;
}

.congressional-head.mdhoyerstenyh {
    background-position: -1180.8px -1958.775px;
}

.congressional-head.mdharrisandy {
    background-position: -1279.2px -1958.775px;
}

.congressional-head.mdedwardsdonna {
    background-position: -1377.6px -1958.775px;
}

.congressional-head.mddelaneyjohn {
    background-position: -1476px -1958.775px;
}

.congressional-head.mdcummingselijahe {
    background-position: -1574.4px -1958.775px;
}

.congressional-head.mdcardinbenjaminl {
    background-position: -1672.8px -1958.775px;
}

.congressional-head.mawarrenelizabetha {
    background-position: -1771.2px -1958.775px;
}

.congressional-head.matsongasniki {
    background-position: -1869.6px -1958.775px;
}

.congressional-head.matierneyjohnf {
    background-position: -1968px -1958.775px;
}

.congressional-head.markey {
    background-position: -2164.8px 0;
}

.congressional-head.manealricharde {
    background-position: -2164.8px -125.05px;
}

.congressional-head.mamoultonseth {
    background-position: -2164.8px -244.975px;
}

.congressional-head.mamcgovernjamesp {
    background-position: -2164.8px -363.875px;
}

.congressional-head.malynchstephenf {
    background-position: -2164.8px -483.8px;
}

.congressional-head.makennedyjosephpiii {
    background-position: -2164.8px -603.725px;
}

.congressional-head.makeatingwilliamr {
    background-position: -2164.8px -723.65px;
}

.congressional-head.macowanwilliam {
    background-position: -2164.8px -843.575px;
}

.congressional-head.maclarkkatherine {
    background-position: -2164.8px -963.5px;
}

.congressional-head.macapuanomichaele {
    background-position: -2164.8px -1084.45px;
}

.congressional-head.lavitterdavid {
    background-position: -2164.8px -1204.375px;
}

.congressional-head.lascalisesteve {
    background-position: -2164.8px -1324.3px;
}

.congressional-head.larichmondcedricl {
    background-position: -2164.8px -1444.225px;
}

.congressional-head.lalandrieumaryl {
    background-position: -2164.8px -1564.15px;
}

.congressional-head.lagravesgarrett {
    background-position: -2164.8px -1684.075px;
}

.congressional-head.laflemingjohn {
    background-position: -2164.8px -1804px;
}

.congressional-head.lacassidybill {
    background-position: -2164.8px -1923.925px;
}

.congressional-head.laboustanycharlesjr {
    background-position: -2066.4px -1958.775px;
}

.congressional-head.laalexanderrodney {
    background-position: 0 -2078.7px;
}

.congressional-head.laabrahamralph {
    background-position: -98.4px -2078.7px;
}

.congressional-head.kyrogersharold {
    background-position: -196.8px -2078.7px;
}

.congressional-head.kypaulrand {
    background-position: -295.2px -2078.7px;
}

.congressional-head.kymcconnellmitch {
    background-position: -393.6px -2078.7px;
}

.congressional-head.kymassiethomas {
    background-position: -492px -2078.7px;
}

.congressional-head.kyjohnyarmuth {
    background-position: -590.4px -2078.7px;
}

.congressional-head.kyguthriebrett {
    background-position: -688.8px -2078.7px;
}

.congressional-head.kyedwardwhitfield {
    background-position: -787.2px -2078.7px;
}

.congressional-head.kybarrgarland {
    background-position: -885.6px -2078.7px;
}

.congressional-head.ksyoderkevinw {
    background-position: -984px -2078.7px;
}

.congressional-head.ksrobertspat {
    background-position: -1082.4px -2078.7px;
}

.congressional-head.kspompeomike {
    background-position: -1180.8px -2078.7px;
}

.congressional-head.ksmoranjerry {
    background-position: -1279.2px -2078.7px;
}

.congressional-head.ksjenkinslynn {
    background-position: -1377.6px -2078.7px;
}

.congressional-head.kshuelskamptim {
    background-position: -1476px -2078.7px;
}

.congressional-head.inyoungtodd {
    background-position: -1574.4px -2078.7px;
}

.congressional-head.inwalorskijackie {
    background-position: -1672.8px -2078.7px;
}

.congressional-head.inviscloskypeterj {
    background-position: -1771.2px -2078.7px;
}

.congressional-head.instutzmanmarlina {
    background-position: -1869.6px -2078.7px;
}

.congressional-head.inrokitatodd {
    background-position: -1968px -2078.7px;
}

.congressional-head.inmesserluke {
    background-position: -2066.4px -2078.7px;
}

.congressional-head.indonnellyjoe {
    background-position: -2164.8px -2078.7px;
}

.congressional-head.indavisdanny {
    background-position: -2263.2px 0;
}

.congressional-head.incoatsdan {
    background-position: -2263.2px -119.925px;
}

.congressional-head.incarsonandred {
    background-position: -2263.2px -239.85px;
}

.congressional-head.inbucshonlarryd {
    background-position: -2263.2px -359.775px;
}

.congressional-head.inbrookssusan {
    background-position: -2263.2px -479.7px;
}

.congressional-head.ilshimkusjohnm {
    background-position: -2263.2px -599.625px;
}

.congressional-head.ilschockaaron {
    background-position: -2263.2px -719.55px;
}

.congressional-head.ilschneiderbrad {
    background-position: -2263.2px -839.475px;
}

.congressional-head.ilschakowskyjand {
    background-position: -2263.2px -959.4px;
}

.congressional-head.ilrushbobbyl {
    background-position: -2263.2px -1079.325px;
}

.congressional-head.ilroskampeter {
    background-position: -2263.2px -1199.25px;
}

.congressional-head.ilquigleymike {
    background-position: -2263.2px -1319.175px;
}

.congressional-head.illipinskidanielwilliam {
    background-position: -2263.2px -1439.1px;
}

.congressional-head.ilkirkmarksteven {
    background-position: -2263.2px -1559.025px;
}

.congressional-head.ilkinzingeradam {
    background-position: -2263.2px -1678.95px;
}

.congressional-head.ilkellyrobin {
    background-position: -2263.2px -1798.875px;
}

.congressional-head.ilhultgrenrandall {
    background-position: -2263.2px -1918.8px;
}

.congressional-head.ilgutierrezluisv {
    background-position: -2263.2px -2038.725px;
}

.congressional-head.ilfosterbill {
    background-position: 0 -2198.625px;
}

.congressional-head.ilenyartwilliaml {
    background-position: -98.4px -2198.625px;
}

.congressional-head.ildurbinrichardj {
    background-position: -196.8px -2198.625px;
}

.congressional-head.ilduckworthltammy {
    background-position: -295.2px -2198.625px;
}

.congressional-head.ildoldbob {
    background-position: -393.6px -2198.625px;
}

.congressional-head.ildavisrodney {
    background-position: -492px -2198.625px;
}

.congressional-head.ilbustoscheri {
    background-position: -590.4px -2198.625px;
}

.congressional-head.ilbostmike {
    background-position: -688.8px -2198.625px;
}

.congressional-head.idsimpsonmichaelk {
    background-position: -787.2px -2198.625px;
}

.congressional-head.idrischjamese {
    background-position: -885.6px -2198.625px;
}

.congressional-head.idlabradorraulr {
    background-position: -984px -2198.625px;
}

.congressional-head.idcrapomichaeld {
    background-position: -1082.4px -2198.625px;
}

.congressional-head.iayoungdavid {
    background-position: -1180.8px -2198.625px;
}

.congressional-head.ialoebsackdavid {
    background-position: -1279.2px -2198.625px;
}

.congressional-head.ialathamtom {
    background-position: -1377.6px -2198.625px;
}

.congressional-head.iakingsteve {
    background-position: -1476px -2198.625px;
}

.congressional-head.iaharkintom {
    background-position: -1574.4px -2198.625px;
}

.congressional-head.iagrassleychucke {
    background-position: -1672.8px -2198.625px;
}

.congressional-head.iaernstjoni {
    background-position: -1771.2px -2198.625px;
}

.congressional-head.iabraleybruce {
    background-position: -1869.6px -2198.625px;
}

.congressional-head.iablumrod {
    background-position: -1968px -2198.625px;
}

.congressional-head.hitakaimark {
    background-position: -2066.4px -2198.625px;
}

.congressional-head.hischatzbrian {
    background-position: -2164.8px -2198.625px;
}

.congressional-head.hihironomaziek {
    background-position: -2263.2px -2198.625px;
}

.congressional-head.hihanabusacolleen {
    background-position: -2361.6px 0;
}

.congressional-head.higabbardtulsi {
    background-position: -2361.6px -119.925px;
}

.congressional-head.gubordallomadeleine {
    background-position: -2361.6px -239.85px;
}

.congressional-head.gmbordallomadeleine {
    background-position: -2361.6px -359.775px;
}

.congressional-head.gawoodallrob {
    background-position: -2361.6px -510.45px;
}

.congressional-head.gawestmorelandlynn {
    background-position: -2361.6px -630.375px;
}

.congressional-head.gascottdavid {
    background-position: -2361.6px -750.3px;
}

.congressional-head.gascottaustin {
    background-position: -2361.6px -870.225px;
}

.congressional-head.gapricetom {
    background-position: -2361.6px -990.15px;
}

.congressional-head.gaperduedavid {
    background-position: -2361.6px -1110.075px;
}

.congressional-head.galoudermilkbarry {
    background-position: -2361.6px -1230px;
}

.congressional-head.galewisjohn {
    background-position: -2361.6px -1349.925px;
}

.congressional-head.gakingstonjack {
    background-position: -2361.6px -1469.85px;
}

.congressional-head.gajohnsonhank {
    background-position: -2361.6px -1589.775px;
}

.congressional-head.gaisaksonjohnny {
    background-position: -2361.6px -1709.7px;
}

.congressional-head.gahicejody {
    background-position: -2361.6px -1829.625px;
}

.congressional-head.gagravestom {
    background-position: -2361.6px -1949.55px;
}

.congressional-head.gagingreyphil {
    background-position: -2361.6px -2069.475px;
}

.congressional-head.gacollinsdoug {
    background-position: -2361.6px -2189.4px;
}

.congressional-head.gachamblisssaxby {
    background-position: 0 -2318.55px;
}

.congressional-head.gacarterbuddy {
    background-position: -98.4px -2318.55px;
}

.congressional-head.gabrounpaulcjr {
    background-position: -196.8px -2318.55px;
}

.congressional-head.gabishopjrsanfordd {
    background-position: -295.2px -2318.55px;
}

.congressional-head.gabarrowjohn {
    background-position: -393.6px -2318.55px;
}

.congressional-head.gaallenrick {
    background-position: -492px -2318.55px;
}

.congressional-head.flyoungcwbill {
    background-position: -590.4px -2318.55px;
}

.congressional-head.flyohoted {
    background-position: -688.8px -2318.55px;
}

.congressional-head.flwilsonjoe {
    background-position: -787.2px -2318.55px;
}

.congressional-head.flwilsonfrederica {
    background-position: -885.6px -2318.55px;
}

.congressional-head.flwebsterdaniel {
    background-position: -984px -2318.55px;
}

.congressional-head.flsoutherlandsteve {
    background-position: -1082.4px -2318.55px;
}

.congressional-head.flschultzdebbiewasserman {
    background-position: -1180.8px -2318.55px;
}

.congressional-head.flrubiomarco {
    background-position: -1279.2px -2318.55px;
}

.congressional-head.flrossdennisa {
    background-position: -1377.6px -2318.55px;
}

.congressional-head.flroslehtinenileana {
    background-position: -1476px -2318.55px;
}

.congressional-head.flrooneyrooney {
    background-position: -1574.4px -2318.55px;
}

.congressional-head.flradeltrey {
    background-position: -1672.8px -2318.55px;
}

.congressional-head.flposeybill {
    background-position: -1771.2px -2318.55px;
}

.congressional-head.flnugentrichardb {
    background-position: -1869.6px -2318.55px;
}

.congressional-head.flnelsonbill {
    background-position: -1968px -2318.55px;
}

.congressional-head.flmurphypatrick {
    background-position: -2066.4px -2318.55px;
}

.congressional-head.flmillerjeff {
    background-position: -2164.8px -2318.55px;
}

.congressional-head.flmicajohnl {
    background-position: -2263.2px -2318.55px;
}

.congressional-head.fljollydavid {
    background-position: -2361.6px -2318.55px;
}

.congressional-head.flhastingsalceel {
    background-position: -2460px 0;
}

.congressional-head.flgraysonalan {
    background-position: -2460px -119.925px;
}

.congressional-head.flgrahamgwen {
    background-position: -2460px -239.85px;
}

.congressional-head.flgarciajoe {
    background-position: -2460px -359.775px;
}

.congressional-head.flfrankellois {
    background-position: -2460px -479.7px;
}

.congressional-head.fldiazbalartmario {
    background-position: -2460px -599.625px;
}

.congressional-head.fldeutchted {
    background-position: -2460px -719.55px;
}

.congressional-head.fldesantisron {
    background-position: -2460px -839.475px;
}

.congressional-head.flcurbelocarlos {
    background-position: -2460px -959.4px;
}

.congressional-head.flcrenshawander {
    background-position: -2460px -1079.325px;
}

.congressional-head.flclawsoncurtis {
    background-position: -2460px -1199.25px;
}

.congressional-head.flcastorkathy {
    background-position: -2460px -1319.175px;
}

.congressional-head.flbuchananvern {
    background-position: -2460px -1439.1px;
}

.congressional-head.flbrowncorrine {
    background-position: -2460px -1559.025px;
}

.congressional-head.flbilirakisgusmichael {
    background-position: -2460px -1678.95px;
}

.congressional-head.decoonschristophera {
    background-position: -2460px -1798.875px;
}

.congressional-head.decarperthomasr {
    background-position: -2460px -1918.8px;
}

.congressional-head.decarneyjohncjr {
    background-position: -2460px -2038.725px;
}

.congressional-head.dcnortoneleanorholmes {
    background-position: -2460px -2158.65px;
}

.congressional-head.ctmurphychristopher {
    background-position: -2460px -2278.575px;
}

.congressional-head.ctlarsonjohnb {
    background-position: 0 -2438.475px;
}

.congressional-head.cthimesjim {
    background-position: -98.4px -2438.475px;
}

.congressional-head.ctestyelizabeth {
    background-position: -196.8px -2438.475px;
}

.congressional-head.ctdelaurorosal {
    background-position: -295.2px -2438.475px;
}

.congressional-head.ctcourtneyjoe {
    background-position: -393.6px -2438.475px;
}

.congressional-head.ctblumenthalrichard {
    background-position: -492px -2438.475px;
}

.congressional-head.coudallmark {
    background-position: -590.4px -2438.475px;
}

.congressional-head.cotiptonscott {
    background-position: -688.8px -2438.475px;
}

.congressional-head.copolisjared {
    background-position: -787.2px -2438.475px;
}

.congressional-head.coperlmuttered {
    background-position: -885.6px -2438.475px;
}

.congressional-head.colamborndoug {
    background-position: -984px -2438.475px;
}

.congressional-head.cogardnercory {
    background-position: -1082.4px -2438.475px;
}

.congressional-head.codegettediana {
    background-position: -1180.8px -2438.475px;
}

.congressional-head.cocoffmanmike {
    background-position: -1279.2px -2438.475px;
}

.congressional-head.cobuckken {
    background-position: -1377.6px -2438.475px;
}

.congressional-head.cobennetmichaelf {
    background-position: -1476px -2438.475px;
}

.congressional-head.clyburn {
    background-position: -2558.4px 0;
}

.congressional-head.cawaxmanhenrya {
    background-position: -2558.4px -125.05px;
}

.congressional-head.cawatersmaxine {
    background-position: -2558.4px -244.975px;
}

.congressional-head.cawaltersmimi {
    background-position: -2558.4px -364.9px;
}

.congressional-head.cavargasjuan {
    background-position: -2558.4px -484.825px;
}

.congressional-head.cavaladaodavidg {
    background-position: -2558.4px -604.75px;
}

.congressional-head.catorresnorma {
    background-position: -2558.4px -724.675px;
}

.congressional-head.cathompsonmike {
    background-position: -2558.4px -844.6px;
}

.congressional-head.catakanomark {
    background-position: -2558.4px -964.525px;
}

.congressional-head.caswalwelleric {
    background-position: -2558.4px -1084.45px;
}

.congressional-head.caspeierjackie {
    background-position: -2558.4px -1204.375px;
}

.congressional-head.cashermanbrad {
    background-position: -2558.4px -1324.3px;
}

.congressional-head.caschiffadamb {
    background-position: -2558.4px -1444.225px;
}

.congressional-head.casanchezloretta {
    background-position: -2558.4px -1564.15px;
}

.congressional-head.casanchezlinda {
    background-position: -2558.4px -1684.075px;
}

.congressional-head.caruizraul {
    background-position: -2558.4px -1804px;
}

.congressional-head.caroyceedr {
    background-position: -2558.4px -1923.925px;
}

.congressional-head.caroybalallardlucille {
    background-position: -2558.4px -2043.85px;
}

.congressional-head.carohrabacherdana {
    background-position: -2558.4px -2163.775px;
}

.congressional-head.capetersscott {
    background-position: -2558.4px -2283.7px;
}

.congressional-head.capelosinancy {
    background-position: -2558.4px -2403.625px;
}

.congressional-head.canunesdevin {
    background-position: -1574.4px -2438.475px;
}

.congressional-head.canapolitanogracef {
    background-position: -1672.8px -2438.475px;
}

.congressional-head.camillergeorge {
    background-position: -1771.2px -2438.475px;
}

.congressional-head.camillergary {
    background-position: -1869.6px -2438.475px;
}

.congressional-head.camcnerneygeraldm {
    background-position: -1968px -2438.475px;
}

.congressional-head.camcleodglorianegrete {
    background-position: -2066.4px -2438.475px;
}

.congressional-head.camckeonhowardp {
    background-position: -2164.8px -2438.475px;
}

.congressional-head.camcclintocktom {
    background-position: -2263.2px -2438.475px;
}

.congressional-head.camccarthykevin {
    background-position: -2361.6px -2438.475px;
}

.congressional-head.camatsuirobertt {
    background-position: -2460px -2438.475px;
}

.congressional-head.camalfadougla {
    background-position: -2656.8px 0;
}

.congressional-head.calowenthalalan {
    background-position: -2656.8px -119.925px;
}

.congressional-head.calofgrenzoe {
    background-position: -2656.8px -239.85px;
}

.congressional-head.calieuted {
    background-position: -2656.8px -359.775px;
}

.congressional-head.caleebarbara {
    background-position: -2656.8px -479.7px;
}

.congressional-head.caknightsteve {
    background-position: -2656.8px -599.625px;
}

.congressional-head.caissadarrelle {
    background-position: -2656.8px -719.55px;
}

.congressional-head.cahunterduncan {
    background-position: -2656.8px -839.475px;
}

.congressional-head.cahuffmanjared {
    background-position: -2656.8px -959.4px;
}

.congressional-head.cahondamikem {
    background-position: -2656.8px -1079.325px;
}

.congressional-head.cahahnjanice {
    background-position: -2656.8px -1199.25px;
}

.congressional-head.cagaramendijohn {
    background-position: -2656.8px -1319.175px;
}

.congressional-head.cafeinsteindianne {
    background-position: -2656.8px -1439.1px;
}

.congressional-head.cafarrsam {
    background-position: -2656.8px -1559.025px;
}

.congressional-head.caeshooannag {
    background-position: -2656.8px -1678.95px;
}

.congressional-head.cadesaulniermark {
    background-position: -2656.8px -1798.875px;
}

.congressional-head.cadenhamjeff {
    background-position: -2656.8px -1918.8px;
}

.congressional-head.cadavissusan {
    background-position: -2656.8px -2038.725px;
}

.congressional-head.cacostajim {
    background-position: -2656.8px -2158.65px;
}

.congressional-head.cacookpaul {
    background-position: -2656.8px -2278.575px;
}

.congressional-head.cachujudy {
    background-position: -2656.8px -2398.5px;
}

.congressional-head.cacardenastony {
    background-position: 0 -2558.4px;
}

.congressional-head.cacappslois {
    background-position: -98.4px -2558.4px;
}

.congressional-head.cacampbelljohn {
    background-position: -196.8px -2558.4px;
}

.congressional-head.cacalvertken {
    background-position: -295.2px -2558.4px;
}

.congressional-head.cabrownleyjulia {
    background-position: -393.6px -2558.4px;
}

.congressional-head.caboxerbarbara {
    background-position: -492px -2558.4px;
}

.congressional-head.caberaami {
    background-position: -590.4px -2558.4px;
}

.congressional-head.cabecerraxavier {
    background-position: -688.8px -2558.4px;
}

.congressional-head.cabasskaren {
    background-position: -787.2px -2558.4px;
}

.congressional-head.caaguilarpete {
    background-position: -885.6px -2558.4px;
}

.congressional-head.azsinemakyrsten {
    background-position: -984px -2558.4px;
}

.congressional-head.azschweikertdavid {
    background-position: -1082.4px -2558.4px;
}

.congressional-head.azsalmonmatt {
    background-position: -1180.8px -2558.4px;
}

.congressional-head.azpastored {
    background-position: -1279.2px -2558.4px;
}

.congressional-head.azmcsallymartha {
    background-position: -1377.6px -2558.4px;
}

.congressional-head.azmccainjohn {
    background-position: -1476px -2558.4px;
}

.congressional-head.azkirkpatrickann {
    background-position: -1574.4px -2558.4px;
}

.congressional-head.azgrijalvaraulm {
    background-position: -1672.8px -2558.4px;
}

.congressional-head.azgosarpaul {
    background-position: -1771.2px -2558.4px;
}

.congressional-head.azgallegoruben {
    background-position: -1869.6px -2558.4px;
}

.congressional-head.azfrankstrent {
    background-position: -1968px -2558.4px;
}

.congressional-head.azflakejeff {
    background-position: -2066.4px -2558.4px;
}

.congressional-head.azbarberron {
    background-position: -2164.8px -2558.4px;
}

.congressional-head.asamataaumua {
    background-position: -2755.2px 0;
}

.congressional-head.arwomacksteve {
    background-position: -2755.2px -131.2px;
}

.congressional-head.arwestermanbruce {
    background-position: -2755.2px -251.125px;
}

.congressional-head.arpryormark {
    background-position: -2755.2px -371.05px;
}

.congressional-head.arhillfrench {
    background-position: -2755.2px -490.975px;
}

.congressional-head.argriffintim {
    background-position: -2755.2px -610.9px;
}

.congressional-head.arcrawfordrick {
    background-position: -2755.2px -730.825px;
}

.congressional-head.arcottonthomasb {
    background-position: -2755.2px -850.75px;
}

.congressional-head.arboozmanjohn {
    background-position: -2755.2px -970.675px;
}

.congressional-head.alshelbyrichardc {
    background-position: -2755.2px -1090.6px;
}

.congressional-head.alsewellterria {
    background-position: -2755.2px -1210.525px;
}

.congressional-head.alsessionsjeff {
    background-position: -2755.2px -1330.45px;
}

.congressional-head.alrogersmike {
    background-position: -2755.2px -1450.375px;
}

.congressional-head.alrobymartha {
    background-position: -2755.2px -1570.3px;
}

.congressional-head.alpalmergary {
    background-position: -2755.2px -1690.225px;
}

.congressional-head.albyrnebradley {
    background-position: -2755.2px -1810.15px;
}

.congressional-head.albrooksmo {
    background-position: -2755.2px -1930.075px;
}

.congressional-head.albonnerjo {
    background-position: -2755.2px -2050px;
}

.congressional-head.albachusspencertiii {
    background-position: -2755.2px -2169.925px;
}

.congressional-head.aladerholtrobertb {
    background-position: -2755.2px -2289.85px;
}

.congressional-head.akyoungdone {
    background-position: -2755.2px -2409.775px;
}

.congressional-head.aksullivandan {
    background-position: -2755.2px -2529.7px;
}

.congressional-head.akmurkowskilisa {
    background-position: -2263.2px -2558.4px;
}

.congressional-head.akbegichmark {
    background-position: -2361.6px -2558.4px;
}
